.container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  height: 100vh;
}

header {
  background-color: #1b1e29;
}

header #headerContent {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
}

#headerContent button img {
  filter: invert(1);
  margin-right: 8px;
}

main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#status {
  margin: 24px 0;
  margin-left: 40px;
  padding: 18px;
  background-color: #1b1e29;
  font-size: 1.6rem;
  width: 200px;
  border-radius: 14px;
}

#status .listItemStatus:not(:last-child) {
  margin-bottom: 8px;
}

#status .listItemStatus {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#status .listItemStatus span {
  font-size: 1.4rem;
}

.wrapperContentTodoList {
  margin-bottom: 8px;
  position: relative;
  flex-grow: 1;
}

#contentToDosList {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 30px;
  padding-left: 40px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.toDoList {
  min-width: 310px;
  height: min-content;
  max-height: 100%;
  background-color: #1b1e29;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  transition: 0.3s;
}

.toDoList .headerToDoList {
  padding: 14px 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.6rem;
  align-items: center;
}

.toDoList .wrapperToDos {
  position: relative;
  overflow: auto;
  padding: 18px;
  min-height: 100px;
  transition: 0.3s;
}

.wrapperToDosDrawable {
  background-color: #1b291f;
  border-radius: 14px;
}

.toDoList .headerToDoList img {
  width: 20px;
  cursor: pointer;
}

.toDoList .toDo {
  background-color: #101218;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 6px;
  transition: 0.3s;
  position: relative;
}

.toDoList .toDo .headerToDo {
  width: 100%;
  align-items: center;
  display: flex;
  margin-bottom: 12px;
}

.toDoList .toDo .headerToDo span {
  font-weight: bold;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  white-space: nowrap;
}

.toDoList .toDo .headerToDo .levelIndicator {
  padding: 4px 8px;
  margin-left: 8px;
  font-size: 1rem;
  border-radius: 100px;
}

.toDoList .toDo .infoToDo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #727b9e;
}

.toDoList .toDo .infoToDo:not(:last-child) {
  margin: 4px 0;
}
.toDoList .toDo .infoToDo span {
  color: #fff;
}

footer {
  background-color: #1b1e29;
}

footer #footerContent {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.dragging {
  opacity: 0.3;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: #10121830;
  z-index: 1;
  backdrop-filter: blur(2px);
  animation-name: openModalAnim;
  animation-duration: 0.3s;
  display: none;
}

@keyframes openModalAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#containerModal {
  background-color: #1b1e29;
  width: 400px;
  border-radius: 10px;
  padding-bottom: 20px;
}

#headerModal {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

#buttonCloseModal {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

label {
  font-weight: 400;
  font-size: 16px;
  margin-top: 4px;
}

input[type="text"] {
  border: none;
  background-color: #101218;
  padding: 16px;
  border-radius: 8px;
  margin: 8px 0;
}

input[type="button"] {
  margin-top: 12px;
  background-color: #a29be2;
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 16px;
  cursor: pointer;
  border-radius: 8px;
}

input[type="button"]:hover {
  background-color: #a29be240;
  transition: all 0.5s;
  cursor: pointer;
}

#difficulty {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#difficulty div {
  align-items: center;
  display: flex;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 18px;
  cursor: pointer;
  margin-right: 8px;
}

input[type="radio"]:checked {
  background-color: #a29be2;
  transition: 0.3s;
  border: 4px #fff solid;
}

.optionRadio {
  font-size: 14px;
  cursor: pointer;
  padding: 14px 16px;
  align-items: center;
  display: flex;
  border-radius: 8px;
}

.optionRadioEasy {
  background-color: #6fe6a9;
}

.optionRadioMedium {
  background-color: #ff9533;
}

.optionRadioHard {
  background-color: #e74444;
}

@media only screen and (max-width: 900px) {
  #containerModal {
    width: 90%;
  }
}

#buttonTrash {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 16px;
}
